# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/
client/dist/

# Environment files
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output

# Misc
*.log
.cache
.parcel-cache
.turbo
.vercel
